.startcomponent {
    background-color: #F3F3F3 !important;
    min-height: calc(100vh) !important;
    color: #217346 !important;
}
hr {
  border: 2px solid #21A366 !important;
  opacity: 1 !important;
}